/* configurações padrão */
*{
    margin:0;
    padding:0;
}
html,body{
    background-color:#161618;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar{
    width: 95%;
    height: 80px;
    margin-top: 50px;
    border: 1px solid red;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo{
    color: white;
    font-size: 35px
}

/* botão contato */
.btn-contato{ 
padding: 10px;

}